In [55]:
import pandas as pd

### Init DataFrame

In [56]:
column_names = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','target']

df = pd.DataFrame(columns=column_names)

### Load Data, Append to DF

In [57]:
cleveland = pd.read_csv('../data/processed.cleveland.data', names=column_names)
hungarian = pd.read_csv('../data/processed.hungarian.data', names=column_names)
switzerland = pd.read_csv('../data/processed.switzerland.data', names=column_names)
va = pd.read_csv('../data/processed.va.data', names=column_names)

In [58]:
df = df.append(cleveland)
df = df.append(hungarian)
df = df.append(switzerland)
df = df.append(va)

### Convert ? entries to NaN

In [59]:
df = df.apply(pd.to_numeric, errors='coerce')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 920 entries, 0 to 199
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       920 non-null    float64
 1   sex       920 non-null    float64
 2   cp        920 non-null    float64
 3   trestbps  861 non-null    float64
 4   chol      890 non-null    float64
 5   fbs       830 non-null    float64
 6   restecg   918 non-null    float64
 7   thalach   865 non-null    float64
 8   exang     865 non-null    float64
 9   oldpeak   858 non-null    float64
 10  slope     611 non-null    float64
 11  ca        309 non-null    float64
 12  thal      434 non-null    float64
 13  target    920 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 107.8 KB

### Save to csv

In [61]:
df.to_csv('../data/processed.data.csv', na_rep='NULL', index=False)